* {

  box-sizing: border-box;
  list-style: none;
}


body {
  color: #000;
  background-color: #fff;
  transition-property: background-color;
  transition: 0.2s linear;
}

[data-theme="dark"] body {
  background-color: #000;
  color: red;
}

.img-home {
  max-width: 40px;
  border-radius: 99px;
}

.container {
  padding-top: 20px;
  padding-bottom: 20px;

}

.nav-bar {
  top: 0;
  left: 0;
  right: 0;

  align-items: center;
  display: flex;
  justify-content: center;
  z-index: 10;
}

a {
  text-decoration: none;
}

.project-c {
  transform: translateY(50px);
}

.nav-bar {
  padding-top: 15px;
}